{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Data Nama Hasil Produksi</title>
    <link rel="icon" type="image/png" href="{% static 'images/logo_laco2.png' %}">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/produksi.css' %}">
</head>

<body class="bg-gray-50 flex h-screen overflow-hidden text-gray-800 relative">
    {% include 'partials/message_popup.html' with page_tag='nama_hasil_produksi' %}
    {% include 'parts/sidebar_produksi.html' %}
    <main class="main-content">
    <div class="content">
        <h2 class="text-2xl font-bold text-[#191970]" style="margin-bottom: 10px;">Mengelola Data Nama Hasil Produksi</h2>
        <button class="btn-tambah" onclick="openAddModal()">+ Tambah</button>

        <br><br>
        <div class="table-small">
        <table>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>

            {% for s in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ s.nama_hasil_produksi }}</td>
                <td>
                    <button class="btn-action btn-edit" onclick="openEditModal('{{ s.id }}','{{ s.nama_hasil_produksi }}')">Edit</button>
                    <button class="btn-action btn-hapus" onclick="openDeleteModal('{{ s.id }}')">Hapus</button>
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    </div>
    </main>
    <!-- ================= MODAL TAMBAH NAMA HASIL PRODUKSI ================= -->
    <div class="modal" id="addModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addModal')">&times;</span>
            <h3>Tambah Nama Produk</h3>

            <form method="post" action="/produksi/hasil/add/">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nama Hasil Produksi</label>
                    <input type="text" name="nama_hasil_produksi" placeholder="Contoh: Long Core OPC, Papan Palet..." required>
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn-action btn-tidak" onclick="closeModal('addModal')">Batal</button>
                    <button type="submit" class="btn-action btn-ya">Simpan Produk</button>
                </div>
            </form>
        </div>
    </div>

    <!-- ================= MODAL EDIT NAMA HASIL PRODUKSI ================= -->
    <div class="modal" id="editModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editModal')">&times;</span>
            <h3>Edit Nama Produk</h3>

            <form method="post" id="editForm">
                {% csrf_token %}
                <div class="form-group">
                    <label>Nama Hasil Produksi</label>
                    <input type="text" name="nama_hasil_produksi" id="editNamaHasilProduksi" required>
                </div>

                <div class="modal-actions">
                    <button type="button" class="btn-action btn-tidak" onclick="closeModal('editModal')">Batal</button>
                    <button type="submit" class="btn-action btn-ya">Update Data</button>
                </div>
            </form>
        </div>
    </div>

    <!-- ================= MODAL HAPUS ================= -->
    <div class="modal" id="deleteModal">
        <div class="modal-content text-center">
            <div class="mb-4 text-red-500">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-12 mx-auto">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
                </svg>
            </div>
            <h3 class="border-none pb-0">Hapus Nama Produk?</h3>
            <p class="text-sm text-gray-500 mb-6">Menghapus nama produk ini dapat menyebabkan data terkait di laporan produksi tidak terbaca.</p>

            <form method="post" id="deleteForm">
                {% csrf_token %}
                <div class="modal-actions justify-center">
                    <button type="button" class="btn-action btn-tidak" onclick="closeModal('deleteModal')">Batal</button>
                    <button type="submit" class="btn-action btn-ya ">Ya, Hapus</button>
                </div>
            </form>
        </div>
    </div>
    
    <script>
        function openAddModal() {
            document.getElementById('addModal').style.display = 'block';
        }

        function openEditModal(id, nama, alamat, kontak) {
            document.getElementById('editModal').style.display = 'block';
            document.getElementById('editNamaHasilProduksi').value = nama;
            document.getElementById('editForm').action = '/produksi/hasil/edit/' + id + '/';
        }

        function openDeleteModal(id) {
            document.getElementById('deleteModal').style.display = 'block';
            document.getElementById('deleteForm').action = '/produksi/hasil/delete/' + id + '/';
        }

        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>

</body>

</html>