{%load static%}
<!DOCTYPE html>
<html>

<head>
    <title>Data Nama Hasil Produksi</title>
    <link rel="stylesheet" href="{% static 'css/produksi.css' %}">
</head>

<body>
    {% include 'parts/sidebar_produksi.html' %}
    <div class="content">
        <h2>Data Nama Hasil Produksi</h2>
        <button onclick="openAddModal()">+ Tambah Nama Hasil Produksi</button>

        <br><br>

        <table>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Aksi</th>
            </tr>

            {% for s in data %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ s.nama_hasil_produksi }}</td>
                <td>
                    <button onclick="openEditModal('{{ s.id }}','{{ s.nama_hasil_produksi }}')">Edit</button>
                    <button onclick="openDeleteModal('{{ s.id }}')">Hapus</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <!-- ================= MODAL TAMBAH ================= -->
    <div class="modal" id="addModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('addModal')">X</span>
            <h3>Tambah Nama Hasil Produksi</h3>

            <form method="post" action="/hasil/add/">
                {% csrf_token %}
                <input type="text" name="nama_hasil_produksi" placeholder="Nama Hasil Produksi" required><br><br>
                <button type="submit">Simpan</button>
            </form>
        </div>
    </div>

    <!-- ================= MODAL EDIT ================= -->
    <div class="modal" id="editModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('editModal')">X</span>
            <h3>Edit Supplier</h3>

            <form method="post" id="editForm">
                {% csrf_token %}
                <input type="text" name="nama_hasil_produksi" id="editNamaHasilProduksi" required><br><br>
                <button type="submit">Update</button>
            </form>
        </div>
    </div>

    <!-- ================= MODAL HAPUS ================= -->
    <div class="modal" id="deleteModal">
        <div class="modal-content">
            <span class="close" onclick="closeModal('deleteModal')">X</span>
            <h3>Hapus Data?</h3>

            <form method="post" id="deleteForm">
                {% csrf_token %}
                <button type="submit">Ya, Hapus</button>
            </form>
        </div>
    </div>

    <script>
        function openAddModal() {
            document.getElementById('addModal').style.display = 'block';
        }

        function openEditModal(id, nama, alamat, kontak) {
            document.getElementById('editModal').style.display = 'block';
            document.getElementById('editNamaHasilProduksi').value = nama;
            document.getElementById('editForm').action = '/hasil/edit/' + id + '/';
        }

        function openDeleteModal(id) {
            document.getElementById('deleteModal').style.display = 'block';
            document.getElementById('deleteForm').action = '/hasil/delete/' + id + '/';
        }

        function closeModal(id) {
            document.getElementById(id).style.display = 'none';
        }
    </script>

</body>

</html>