.sidebar {
    width: 256px;
    height: 100vh;
    background: #0d0d5a;
    position: fixed;
    left: 0;
    top: 0;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    border-right: 4px solid #F4C542;
}

.sidebar-menu li.active {
    background: #F4C542;
    border-radius: 10px;
}

.sidebar-menu li.active a {
    color: #0D0D5A;
    font-weight: 200;
}

.sidebar-menu li.active svg {
    stroke: #0D0D5A;
}
.sidebar-link-title{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-logo-circle{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    object-fit: cover;
}
.content {
    margin-left: 265px;
    /* > sidebar width */
    padding: 20px;
}

.sidebar-title {
    font-size: 18px;
    font-weight: bold;
}
.sidebar-title-link{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-decoration: none;
    color: white;
}
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    margin-bottom: 12px;
}

.sidebar-menu a {
    color: #e5e7eb;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 6px;
}

.sidebar-menu a:hover {
    background: #F4C542;
    color: #fff;
}

.sidebar-menu i {
    width: 20px;
    text-align: center;
}